<template>
  <div class="Home">
    <Nav/>
    <Todos/>
    <AddTodo/>
  </div>
</template>

<script>
  import Nav from "../components/layout/nav";
  import Todos from "../components/todos";
  import AddTodo from "../components/addtodo";
  export default class Home {
    data() {
      return {
        name: "Home",
        components: {Nav,Todos,AddTodo},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .Home {
    max-width: 500px;
    width: calc(100% - 20px);
    background-color: white;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid $border;
    padding: 10px;
  }
</style>
