/* global styling for the whole app */
@import "./styles/mixins.scss";

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  background-color: #e9ebee;
}

a,
button {
  &:active {
    @include btnAnimation;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

svg {
  pointer-events: none;
}
button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
